<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap" rel="stylesheet">

  <style>
    .font-dosis {
      font-family: 'Dosis', sans-serif;
    }
    .font-sekuya {
        font-family: 'Sekuya', sans-serif;
    }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Artists</title>
    
    <link rel="icon" type="image/png" href="/static/img/canette.png">

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="icon" type="image/png" href="/static/img/cannette.png">

</head>

<body class = bg-black>

<video
        autoplay
        muted
        loop
        playsinline
        class="fixed inset-0 w-full h-full object-cover z-0 brightness-50"
    >
        <source src="/assets/videos/moving_background.gif" type="video/gif">
    </video>
  <header class="bg-purple-600 p-6 text-black mb-8">
    <h1 class="font-sekuya text-center text-8xl">ARTISTS</h1>
    <h6 class="font-dosis text-center text-3xl">ONZER - BE A TRACKER OF MUSIC.</h6>
  </header>
  <div class="max-w-7xl mx-auto px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

    {{range .}}
    <div class="bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl transition"
         id="artist-{{.ID}}">

        <img src="{{.Image}}"
             alt="{{.Name}}"
             class="w-full h-48 object-cover">

        <div class="p-4 text-center">
            <h3 class="text-xl font-semibold">
                {{.Name}}
            </h3>

            <a href="/artist?id={{.ID}}"
               class="inline-block mt-3 text-blue-600 hover:underline text-sm">
                Voir détails →
            </a>
        </div>
    </div>
    {{end}}
</div>
<footer class="bg-purple-600 p-6 text-black mt-8">
    <h1 class="font-sekuya text-center text-8xl">ONZER</h1>
  </footer>

</body>
</html>