<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap" rel="stylesheet">

  <style>
    .font-dosis {
      font-family: 'Dosis', sans-serif;
    }
    .font-sekuya {
        font-family: 'Sekuya', sans-serif;
    }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Artists</title>
    
    <link rel="icon" type="image/png" href="/static/img/canette.png">

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="icon" type="image/png" href="/static/img/cannette.png">

</head>

<body class="bg-black">
    <header class="bg-purple-600 p-6 text-black">
        <h1 class="font-sekuya text-center text-8xl">.Name</h1>
        <h6 class="font-dosis text-center text-3xl">ONZER - BE A TRACKER OF MUSIC.</h6>
    </header>

    <div class="max-w-4xl mx-auto px-4 py-8">

    <div class="bg-white rounded-xl shadow-md overflow-hidden">

        <img src="{{.Image}}"
             alt="{{.Name}}"
             class="w-full h-64 object-cover">

        <div class="p-6">
            <h1 class="text-3xl font-bold mb-4">
                {{.Name}}
            </h1>

            <p class="text-gray-600 mb-2">
                Création : {{.CreationDate}}
            </p>

            <p class="text-gray-600 mb-4">
                Premier album : {{.FirstAlbum}}
            </p>

            <h2 class="font-semibold mb-2">Membres</h2>
            <ul class="list-disc list-inside mb-6">
                {{range .Members}}
                    <li>{{.}}</li>
                {{end}}
            </ul>

            <a href="/artists"
               class="text-blue-600 hover:underline">
                ← Retour à la liste
            </a>
        </div>

    </div>

</div>
    <footer class="bg-purple-600 p-6 text-black">
        <h1 class="font-sekuya text-center text-8xl">ONZER</h1>
    </footer>
</body>
</html>