<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap" rel="stylesheet">

    <style>
        .font-dosis {
            font-family: 'Dosis', sans-serif;
        }
        .font-sekuya {
            font-family: 'Sekuya', sans-serif;
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>67 Gims Labubu</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="icon" type="image/png" href="/static/img/67.png">

</head>
<body class="bg-[url('/static/videos/moving_background.gif')] bg-cover bg-center bg-no-repeat bg-fixed overflow-x-hidden"> <div class="bg-purple-600 p-6 text-black">
        <h1 class="font-sekuya text-center text-8xl">slt c gims!</h1>
        <h6 class="font-dosis text-center text-3xl">cieleuuuh</h6>
    </div>

    <div class="flex justify-center mt-16">
        <div class="text-center">
            <p class="text-white mb-4">Regarde c'est Gims !!!!!</p>
            
            <img src="/static/img/cieleuh.jpg" 
                 alt="Cielllleeeeeeeeeeeeuuh" 
                 class="w-[1500px] h-60 object-fill mx-auto"/>
            <img src="/static/videos/cieleuh.gif" 
                 alt="Cielllleeeeeeeeeeeuuh" 
                 class="w-[1200px] h-36 object-fill mx-auto"/>
                 <h1 class="text-white mb-4">oooooh c'est erreur 404 ici mais c'est pas la bonne !</h1>
                 <p class="text-right">PS : c'est l'idée de ziim le 67 et le labubu</p>
        </div>
    </div>
</body>
</html>