<!DOCTYPE html>
<html lang="fr">
<head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap" rel="stylesheet">

  <style>
    .font-dosis {
      font-family: 'Dosis', sans-serif;
    }
    .font-sekuya {
        font-family: 'Sekuya', sans-serif;
    }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Artists</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="icon" type="image/png" href="/static/img/cannette.png">

</head>
<body class="bg-black">
    <div class="bg-purple-600 p-6 text-black">
    <h1 class="font-sekuya text-center text-8xl">slt c gims!</h1>
    <h6 class="font-dosis text-center text-3xl">cieleuuuh</h6>
</div>

<div class="flex justify-center mt-16">
  <div class="text-center">
    <p class="text-white mb-4">Regarde c'est Gims !!!!!</p>
    <img src="/static/img/cieleuh.jpg" alt="Cielllleeeeeeeeeeeeuuh"class="w-96 h-40 object-fill"/>
  </div>
</div>
</body>
</html>