<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap" rel="stylesheet">

  <style>
    .font-dosis {
      font-family: 'Dosis', sans-serif;
    }
    .font-sekuya {
        font-family: 'Sekuya', sans-serif;
    }
</style>

  <script src="https://cdn.tailwindcss.com"></script>

  <title>Home</title>

</head>

<body class="bg-black">
  <div class="bg-purple-600 p-6 text-black">
    <h1 class="font-sekuya text-center text-8xl font-bold">ONZER</h1>
    <h6 class="font-dosis text-center text-3xl">BE A TRACKER OF MUSIC.</h6>
  </div>

  <div class="flex justify-center mt-10">
    <a href="/artists"
       class="font-dosis bg-purple-600 hover:bg-purple-800 text-3xl font-bold py-3 px-6 rounded-lg shadow-lg transition">
       TRACK MUSIC with ONZER
    </a>
  </div>
</body>
</html>
