<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>locations</title>
    
    <link rel="icon" type="image/png" href="/static/img/canette.png">

    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class = "bg-black">

    <div class="bg-purple-700 p-6 text-black">
        <h1 class="font-pacifico text-center text-8xl font-bold">LOCATIONS</h1>
        <h6 class="text-center text-1xl">BE A TRACKER OF MUSIC.</h6>
</div>
    <div class="flex justify-center mt-10">
    <a href="/start"
       class="bg-purple-700 hover:bg-purple-800 text-2xl font-bold py-3 px-6 rounded-lg shadow-lg transition">TRACK CONCERTS with ONZER</a>
 </div>
</body>
</html>