<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>locations</title>
    
    <link rel="icon" type="image/png" href="/static/img/canette.png">

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="icon" type="image/png" href="/static/img/cannette.png">

</head>
<body class = "bg-black">

    <div class="bg-purple-600 p-6 text-black">
        <h1 class="font-pacifico text-center text-8xl font-bold">LOCATIONS</h1>
        <h6 class="text-center text-3xl">BE A TRACKER OF MUSIC.</h6>
</div>
    <header class="flex justify-center mt-10">
    <a href="/start"
       class="bg-purple-600 hover:bg-purple-800 text-3xl font-bold py-3 px-6 rounded-lg shadow-lg transition">TRACK CONCERTS with ONZER</a>
    </header>

    <footer class="bg-purple-600 p-6 text-black">
    <h1 class="font-sekuya text-center text-8xl">ONZER</h1>
  </footer>
</body>
</html>